h1{
    color:#999;
    text-align: center;
}
.songList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.react-audio-player{
    width: 200px;
}
.song{
    border: 1px solid #44d62c;
    margin: 10px;
    width: 250px;
    text-align: center;
    height: 300px;
}
.song p{
    padding: 10px;
}
.song .react-audio-player{
    padding: 10px;
}
