h1{
    color:#999;
    text-align: center;
}
.yoursongs{
    visibility: visible;
}
.songList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.song{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 1rem;
    width: 200px;
    height: 250px;
}
.song img{
    text-align: center;
    width: 200px;
    height: 250px;
}


.edit, .delete{
    background-color: #44d62c;
    color: #000;
    text-decoration: none;
    line-height: 16px;
    border: 0;
    box-shadow: none;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 15px;
}
.edit:hover, .delete:hover{
    color: white;
}

#image-play{
    position:relative
}
#image-play:hover, #image-play i{
    display:block;

}
#image-play > i{
    position : absolute;
    display: none;
    margin:0 auto; left:0px;
    right:0px;
    z-index:100
}
.song-information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    line-break: normal;
}
.song-information p {
    text-align: left;
    margin: 0;
}
.song-information a{
    text-decoration: none;
    color:#44d62c;
}
