.uploadPage{
    color: #999;
    text-align: center;
}
.upload{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;

}
.errorList{
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    color: red;
    opacity: .7;
}

.upload > form{
    border: 1px solid #44d62c;
    box-sizing: border-box;
    width:250px;
    text-align: center;
    padding: 1rem;
}
input, label {
    display:block;
    text-align: center;
    display:flex;
  flex-direction:column;
}
.upload input{
    padding: 5px;
    margin: 10px 0;
    border: 0;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: 0px;
    border-radius: 10px;

}
.uploadbutton{
    background-color: #44d62c;
    color: #000;
    line-height: 16px;
    border: 0;
    box-shadow: none;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 15px;
}
.submit-button:hover{
    color: white;
}
#upload-song{
    display: flex;
    text-decoration: none;
    font-weight: 800;
    color: #44d62c;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: .5rem;
    border: 1px solid #44d62c;
    }
