/* TODO Add site wide styles */
html,body{
    background-color: #000;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
}
/* footer{
    border-top: 1px solid #44d62c;
    bottom: 0;
    color: #999;
} */
