.splash{
    border-left: 1px solid #44d62c;
    border-right: 1px solid #44d62c;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #999;
    width: 1250px;
    height: 100%;
    margin: 0 330px;
}
.splash .song img, .splash .song audio{
    width: 200px;
}
.splash > .banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 330px;
    color: white;
    border-bottom: 5px solid grey;
    text-align: center;
    background-image: url('../../images/crowd.jpg');
}
.splash  .tracks p{
    text-align: left;
    padding-left: 30px;
}
.tracks{
    border-bottom: 5px solid grey;
    padding: 4px;
}
span{
    transition: color 2s;
}
span:hover{
    color: #44d62c;
}
.splash .trackList{
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.splash .songList{
    padding-left: 30px;
    float: left;
    flex-wrap: nowrap;
}
.splash .song{
    width: 200px;
}
.splash .song audio{
    margin: 0;
    display: inline;
    text-align: center;
    height: 25px;
    width: 180px;
    margin: 10px;
}
.splash .songCover{
    width: 125px;
    margin: 0;
}

.splash .editdelete{
    display: none;
}
.splash .yoursongs{
    display: none;
}
