.splash{
    color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner{
    border-bottom: 1px solid #44d62c;
    text-align: center;
}
span{
    transition: color 2s;
}
span:hover{
    color: #44d62c;
}
