.form{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 55%;
    /* margin-left: 5%; */
    bottom: 45%;
    /* margin-bottom: -5%;
    margin-top: -5%; */
}

form{
    border: 1px solid #44D62C;
    color:#888;
}
form > ul{
    border-bottom: 0in;
}
label, input{
    margin-bottom: .5rem;
}
button{
    background-color: #44d62c;
    color: #000;
    appearance: none;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: none;
    background: none;
    border: 0;
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    margin-top: 1rem;
}
button:hover{
    color: white;
}
