#signup{
    display: flex;
    justify-content: center;
}
.auth{
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#form-signup{
    /* border: 1px solid #44d62c;
    box-sizing: border-box;
    width:250px;
    text-align: center;
    padding: 1rem; */
    border: 1px solid #44d62c;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 425px;
    padding: 5rem;
}
.signupbutton{
    background-color: #44d62c;
    color: #000;
    line-height: 16px;
    border: 0;
    box-shadow: none;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 15px;
}
.signupbutton:hover{
    color: white;
}
#signup input{
    padding: 5px;
    margin:10px 0;
    border:0;
    border-bottom:1px solid #eee;
    border-radius:10px;

}
.errors{
    color:red;
    padding-bottom: 5px;
}

#signup p{
    text-align: center;
    color: #999;
}

#signup a{
    text-decoration: none;
    color:#44d62c;
    font-weight: 700;
}

#signup a:hover{
    opacity: 1;
    color: #999;
}
