.navbar{
    border-bottom: 1px solid #44d62c;

}
ul{
    flex: 100%;
    color: #999;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}li{
    list-style-type: none;
    display: list-item;
    background-color: black;
    padding: 5px 0;
}
a{
    color: #999;
    padding: 1rem;
    text-decoration: none;
}
.fa-user-circle{
    color: #999;
}
a:hover, .fas:hover{
    color: white;
}

.userprofile {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}
.profile-dropdown{
    display: block;
    flex-direction: column;
    left: 990px;
    color: #999;
    position: absolute;
    width: min-content;
    text-align: center;
}
.logout{
    background-color: #44d62c;
    color: #000;
    line-height: 16px;
    border: 0;
    box-shadow: none;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 5px;
}
.logout:hover{
    color: white;
}
