ul{
    color: #999;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #44D62C;
    list-style-type: none;
    padding-bottom: 1rem;
}
a{
    color: #999;
    padding: 2rem;
    text-decoration: none;

}
a:hover{
    color: white;
}
